## Loops
### 1. Suppose that l=[1,10,11,16,3,5,16,25,23]

### Exercise 1: 

#### Print the values and indices of the list.

- Output:
```python
0 1
1 10
2 11
3 16
4 3
5 5
6 16
7 25
8 23
```

In [1]:
l=[1,10,11,16,3,5,16,25,23]
for i in range(len(l)):
    print(i, l[i])

0 1
1 10
2 11
3 16
4 3
5 5
6 16
7 25
8 23

### Exercise 2: 

#### Print the odd numbers of the list.

- Output
```python
1
11
3
5
25
23
```

In [2]:
for i in range(len(l)):
    if l[i]%2==1:
        print(l[i])

1
11
3
5
25
23

### Exersise 3: 

#### Compute the sum of the list.

- Output
```python
s = 110
```

In [3]:
s = 0
for i in range(len(l)):
    s += l[i]
print(s)

110

### Exercise 4: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [5]:
for i in range(len(l)):
    print(l[i]**2)

1
100
121
256
9
25
256
625
529

### Exercise 5: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
for i in range(len(l)):
    print(l[i]**3)

### Exercise 6: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
for i in range(len(l)):
    print(l[i]**2)

### Exercise 7: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
for i in range(len(l)):
    print(l[i]**2)

### 2. Suppose that M=[[1,3,5], [9,13,4], [8,4,1], [10,31,15]]
### Exercise 1: 

#### Print the indices and values of the list.

- Output
```python
0 0 1
0 1 3
0 2 5
1 0 9
1 1 13
1 2 4
2 0 8
2 1 4
2 2 1
3 0 10
3 1 31
3 2 15
```

In [9]:
M=[[1,3,5],
   [9,13,4],
   [8,4,1], 
   [10,31,15]]

for i in range(len(M)) :
    for j in range(len(M[i])): 
        print(i,j,M[i][j])

0 0 1
0 1 3
0 2 5
1 0 9
1 1 13
1 2 4
2 0 8
2 1 4
2 2 1
3 0 10
3 1 31
3 2 15

### Exercise 2: 

#### Print the even numbers of the list.

- Output
```python
4
8
4
10
```

In [10]:
for i in range(len(M)) :
    for j in range(len(M[i])): 
        if M[i][j]%2==0:
            print(M[i][j])

4
8
4
10

### Exercise 3: 

#### Compute the sum of odd numbers.

- Output
```python
s = 78
```

In [11]:
s = 0
for i in range(len(M)) :
    for j in range(len(M[i])): 
        if M[i][j]%2==1:
            s += M[i][j]
print(s)

78